<div id="layoutSidenav_nav">
  <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
    <div class="sb-sidenav-menu">
      <div class="nav">
        <a class="nav-link" href="/admin/dashboard">
          <div class="sb-nav-link-icon">
            <i class="fas fa-tachometer-alt"></i>
          </div>
          Dashboard
        </a>
        <a class="nav-link" href="/admin/dashboard/logging">
          <div class="sb-nav-link-icon">
            <i class="fa-solid fa-clock-rotate-left"></i>
          </div>
          Logging
        </a>
        <a class="nav-link" href="/admin/dashboard/users">
          <div class="sb-nav-link-icon">
            <i class="fa-solid fa-user"></i>
          </div>
          Users
        </a>
      </div>
    </div>
    <div class="sb-sidenav-footer">
      <div class="small">Logged in as:</div>
      {% if user %}
      {{ user.displayName }} ({{ user.email }}) {% endif %}
    </div>
  </nav>
</div>
